.dasboard-content{
    margin-top: 2rem;
}

.contain-table{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
}

.header-content{
    margin: 1rem;
    padding: 0 1rem;
}
.btn-logout{
    font-size: 1em;
    color: black;
    padding: 8px 10px;
    background: #fff;
    border: 1px solid #c9c9c9;
    border-radius: 5px;
    cursor: pointer;
}

.contain-table table tbody tr:nth-child(odd) {
    background-color: #d2d2d2;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    max-width: 100%;
}
  
thead th {
    border-bottom: 2px solid #444444;
}
  
td {
    border-bottom: 1px solid #000000;
}
  
th,td {
    text-align: left;
    padding: 0.5rem;
}
.actions{
    text-align: center;
}
.action-trash{
    text-align: right;
}
.action-edit{
    text-align: left;
}

.action-trash button, .action-edit button{
    padding: 4px;
    border-radius: 50%;
    border: 2px solid #141414;
    cursor: pointer;
    color: #fff;
}

.action-trash button{
    background: red;
}
.action-edit button{
    background: #1175d9;
}

/*EDIT*/

.modal-edit{
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    z-index: 1000;
    transition: .2s all;
}

.bg-modal{
    background: #33333371;
    width: 100%;
    height: 100%;
}

.modal-container{
    position: absolute;
    width: 100%;
    margin: auto;
    top: 2rem;
    max-width: 600px;
}

.modal-container h1{
    font-size: 2em;
    margin-bottom: 1rem;
}

.modal-container form{
    width: 100%;
    background: #fff;
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.modal-container form label{
    margin: 5px 0;
    font-size: 1.1em;
}
.modal-container form input{
    border: 1px #c9c9c9 solid;
    padding: 5px 10px;
    width: 100%;
    font-size: 1em;
    margin: 5px 0;
}

.modal-container form .btn-edit{
    margin-top: 15px;
}
.modal-container form .btn-edit button{
    margin: 0 10px;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.75rem 1.25rem;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
}

.modal-container form .btn-edit button:nth-child(1){
    border: 1px solid #0366ee;
    background: #0366ee;
    color: #fff;
}
.modal-container form .btn-edit button:nth-child(2){
    border: 1px solid #c9c9c9;
    background: #dddddd;
    color: #000;
}