.login-content{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
}

.login-content .login-form{
    display: flex;
    flex-direction: column;
    background: #fff;
    padding: 15px;
    border: 1px solid #c9c9c9;
    border-radius: 6px;
    gap: 10px;
}

.login-content .login-form label{
    font-size: 1.2em;
}

.login-content .login-form input{
    border: 1px #c9c9c9 solid;
    padding: 5px 10px;
    width: 300px;
    font-size: 1em;
}

.login-content .login-form button{
    background: #1175d9;
    font-size: 1.4em;
    padding: 5px 10px;
    color: white;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
}